<h1>Function: <a href="../../schemas/{{fct.schema}}.html">{{fct.schema}}</a>.<em>{{fct.name}}</em></h1>

<table class="ui definition compact striped table">
    <tr><td>Schema</td><td><a href="../../schemas/{{fct.schema}}.html">{{fct.schema}}</a></td></tr>
    <tr><td>Name</td><td>{{fct.name}}</td></tr>
    <tr><td>Argument(s)</td><td>{{fct.arguments}}</td></tr>
    <tr><td>Owner</td><td>{{fct.owner}}</td></tr>
    <tr><td>Result Type</td><td>{{fct.resultType}}</td></tr>
    <tr><td>Description</td><td class='md'>{{fct.description}}</td></tr>
</table>

<pre>
    <code class="language-sql">
        {{fct.definition}}
    </code>
</pre>
