<table class="ui striped table">
    <thead>
        <tr>
            <th>Schema</th>
            <th>Function</th>
            <th>Owner</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <!--function repeater:<tr><td><a href="schemas/{{fct.schema}}.html">{{fct.schema}}</a></td><td><a href="functions/{{fct.schema}}/{{fct.name}}.{{fct.oid}}.html">{{fct.name}}({{fct.arguments}}) <br /> RETURNS {{fct.resultType}}</a></td><td>{{fct.owner}}</td><td class='md'>{{fct.description}}</td></tr>-->
    </tbody>
</table>