      <table class="ui striped table">
        <thead>
          <tr>
            <th>Schema</th>
            <th>Table</th>
            <th>Owner</th>
            <th>Tablespace</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
            <!--table repeater:<tr><td><a href="schemas/{{table.schema}}.html">{{table.schema}}</a></td><td><a href="tables/{{table.schema}}/{{table.name}}.html">{{table.name}}</a></td><td>{{table.owner}}</td><td>{{table.space}}</td><td class='md'>{{table.description}}</td></tr>-->
        </tbody>
      </table>
