      <table class="ui definition compact striped table">
        <tr><td>Schema</td><td><a href="../../schemas/{{type.schema}}.html">{{type.schema}}</a></td></tr>
        <tr><td>Type Name</td><td>{{type.name}}</td></tr>
        <tr><td>Base Type</td><td>{{type.baseType}}</td></tr>
        <tr><td>Owner</td><td>{{type.owner}}</td></tr>
        <tr><td>Collation</td><td>{{type.collation}}</td></tr>
        <tr><td>Default</td><td>{{type.default}}</td></tr>
        <tr><td>Type</td><td>{{type.type}}</td></tr>
        <tr><td>Store Type</td><td>{{type.storeType}}</td></tr>
        <tr><td>Not Null</td><td>{{type.notNull}}</td></tr>
        <tr><td>Description</td><td class='md'>{{type.description}}</td></tr>
      </table>
<h2>Type Definition</h2>
<pre>
<code class="language-sql">{{type.definition}}</code>
</pre>
