<table class="ui striped table">
<thead>
    <tr>
        <th>Schema</th>
        <th>Type</th>
        <th>Base</th>
        <th>Owner</th>
        <th>Collation</th>
        <th>Default</th>
        <th>Type</th>
        <th>StoreType</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    <!--type repeater:<tr><td><a href="schemas/{{type.schema}}.html">{{type.schema}}</a></td><td><a href="types/{{type.schema}}/{{type.name}}.html">{{type.name}}</a></td><td>{{type.baseType}}</td><td>{{type.owner}}</td><td>{{type.collation}}</td><td>{{type.default}}</td><td>{{type.type}}</td><td>{{type.storeType}}</td><td class='md'>{{type.description}}</td></tr>-->
</tbody>
</table>